/gutermuth/automated_mmp_benchmark_hac/
/gutermuth/automated_mmp_benchmark_hac_filtered/
/gutermuth/automated_mmp_benchmark_hac_small/
/gutermuth/automated_mmp_benchmark_ratio/
/gutermuth/automated_mmp_benchmark_ratio_small/
/gutermuth/loose_benchmark_final_merged/
/gutermuth/mmp_starting_point_merged/
/gutermuth/mmp_tryaround/
/gutermuth/normal_benchmark_final_merged/
/gutermuth/pair_benchmark/
/gutermuth/pair_benchmark_mmp/
/gutermuth/pair_benchmark_mmp_new/
/gutermuth/pair_benchmark_mmp_new_no_contradictions/
/gutermuth/pair_benchmark_mmp_strictmols/
/gutermuth/pair_benchmark_mmp_strictmols_ratio/
/gutermuth/pair_benchmark_mmp_strictmols_ratio_own/
/gutermuth/pair_benchmark_no_contradictions/
/gutermuth/pair_benchmark_starting_point_merged/
/gutermuth/pair_benchmark_starting_point_merged_mmp/
/gutermuth/pair_benchmark_starting_point_merged_mmp_all_data/
/gutermuth/pair_benchmark_starting_point_strict_mols/
/gutermuth/pair_benchmark_starting_point_strict_mols_merged/
/gutermuth/pair_benchmark_starting_point_strict_mols_merged_mmp/
/gutermuth/pair_benchmark_starting_point_strict_mols_merged_mmp_ratio/
/gutermuth/pair_benchmark_starting_point_strict_mols_merged_mmp_ratio_own/
/gutermuth/pair_benchmark_starting_point_strict_mols_preliminary/
/gutermuth/pair_benchmark_strictmols/
/gutermuth/pairwise_mmp_benchmark_hac_filtered/
/gutermuth/pdbbind_v2020/
/gutermuth/strict_benchmark_final_merged/
/gutermuth/testing_full_merged/
/gutermuth/old_analysis/
/gutermuth/general_data/benchmark_targetwise_performance_mmp.csv
/gutermuth/general_data/benchmark_targetwise_performance_mmp_novel.csv
/gutermuth/general_data/benchmark_targetwise_performance_normal.csv
/gutermuth/general_data/benchmark_targetwise_performance_normal_novel.csv
/gutermuth/general_data/benchmark_targetwise_performance_normal_novel_haccorrected.csv
/gutermuth/general_data/contradicting_assays_mmp.json
/gutermuth/general_data/contradicting_assays_redocking.json
/gutermuth/general_data/pdb_ids_tobi.txt
/gutermuth/general_data/pdb_ids_tobi_hetcodes.txt
/gutermuth/benchmark_scores/
/gutermuth/identity_to_benchmarks/
/gutermuth/test.png
/gutermuth/tryaround.py
/gutermuth/refined_active_site_data.csv
/gutermuth/*.csv
*.csv
*.tsv
*.tar.gz
*.smi
*.out
*.png
*.zip
*.csv*
/gutermuth/complete_*
/gutermuth/sophia*
*pycache*
*2020
/gutermuth/benchmark_directory/
