activitydb_username=change
activitydb_password=change
activitydb_name=change
chembl_username=change
chembl_password=change
chembl_name=change
sienatools_path=change
siena_path=change
unicon_path=change
rdkit_path=change
adfr_suite_path=change
molecule_center_path=change
jamda_prep_path=change
base_benchmark_path=change
base_stractable_path=change
mirror_base_path=change
docking_path=change